@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

button.btn {
  @apply bg-exun uppercase font-bold text-white p-3 rounded disabled:bg-gray-400;
}

table.tbl {
  @apply w-full;
}

table.tbl th,
table.tbl td {
  @apply p-2 text-center;
}

table.tbl thead tr {
  @apply !bg-exun text-white uppercase font-bold tracking-wide;
}

table.tbl tbody tr:nth-child(even) {
  @apply bg-slate-100/60;
}
